
@use "../imports/mixins" as *;
@use "../imports/variables" as *;

:root {
  --text: #3F3D56;
  --border: #e5e4e7;
  --bg: #D5E4FD;
  --accent: #2A7BE4;

  --sans: "Noto Sans", sans-serif;
  --robot: "Roboto", sans-serif;
  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}

