@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: clamp(20px, 5vw, 80px);
  padding-block: 18px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

}
.header_inner  {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  display: inline-block;
  width: 160px;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  @include mqsp {
    width: 100px;
  }
}
.header_inner-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  @include mqsp {
    column-gap: 4px;
  }
}
