@use "../imports/mixins" as *;
@use "../imports/variables" as *;

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 8px;

  .button-primary {
    width: 400px;
    height: 60px;
    padding-block: 12px;
    font-size: fz(28);
    transition: .3s ease-out;
    box-shadow: 0px 6px 0px 0px #2a7be460;
    &:hover {
      transform: translateY(4px);
      box-shadow: 0px 0px 0px 0px #2a7be460;
    } 
    
    @include mqsp {
      width: 100%;
      height: 50px;
      font-size: fz(20);
    }
  }

  .cta_text {
    font-size: fz(18);
    font-weight: bold;
    position: relative;
    span {
      font-size: fz(20);
      color: var(--accent);
      padding-inline: 4px;
    }

    &::after {
      content: "";
      width: 1px;
      height: 20px;
      background: var(--accent);
      display: block;
      transform: rotate(-35deg) translateY(-40%);
      position: absolute;
      left: -10px;
      top: 50%;
    }
    &::before {
      content: "";
      width: 1px;
      height: 20px;
      background: var(--accent);
      display: block;
      transform: rotate(35deg) translateY(-40%);
      position: absolute;
      right: -15px;
      top: 50%;
    }
  }
}

.cta_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;

  @include mqsp {
    flex-direction: column;
  }
}
.cta_inner,
.cta_pic {
  width: 50%;
  @include mqsp {
    width: 100%;
  }
}

.cta_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .cta_inner-title {
    font-size: fz(28);
    color: var(--accent);
    margin-bottom: 25px;

    @include mqsp {
      font-size: fz(23);
    }
  }

  .cta_inner-text {
    margin-bottom: 2cqw;
    @include mqsp {
      margin-bottom: 25px;
    }
  }

  .cta {
    width: fit-content;
    @include mqsp {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.cta_pic {
  height: 100%;
}